.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 1fr 96px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  overflow: hidden;
}
.content {
  grid-area: content;
  overflow: auto;
}

.content::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-track {
  background: #2f69d740;
}

.content::-webkit-scrollbar-thumb {
  background: #2f69d7;
}

.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}
